{% extends 'base.html' %}

{% block title %}Driver List{% endblock %}

{% block content %}
    <h1>Driver List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in object_list %}
                <tr>
                    <td>{{ driver.id }}</td>
                    <td><a href="{% url 'taxi:driver-detail' driver.id %}">{{ driver.username }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
